@model Dictionary<string, string[]>

@{
    ViewBag.Title = "Templates";
}

<script>
    window.onload = function() {
        $('.notificationContainer').delay(6000).fadeOut();
    }
</script>

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="@Url.Action("Index", "File")">Files</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Templates</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div class="text-center">
    <h2>Use a template</h2>
</div>

<table class="table">
    <tr>
        <th>
            Landscapes
        </th>
        <th></th>
    </tr>

    @foreach (var file in Model["landscapes"])
    {
        <tr>
            <td>
                @file.Substring(file.LastIndexOf('/') + 1)
            </td>
            <td class="td-align-right">
                @Html.ActionLink("Use Template", "UseTemplate", new { fileName=file })
            </td>
        </tr>
    }
    <tr>
        <th>
            Systems
        </th>
        <th></th>
    </tr>

    @foreach (var file in Model["systems"])
    {
        <tr>
            <td>
                @file.Substring(file.LastIndexOf('/') + 1)
            </td>
            <td class="td-align-right">
                @Html.ActionLink("Use Template", "UseTemplate", new { fileName=file })
            </td>
        </tr>
    }

</table>

<p>
    <fluent-anchor href="@Url.Action("Index", "File")">
        Back to list
    </fluent-anchor>
</p>
