@model AutomationForm.Models.SystemModel

@{
    ViewBag.Title = "Delete system";
}

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="@Url.Action("Index", "System")">Systems</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Delete</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div class="text-center">
    <h2>Delete a system</h2>
</div>

<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var prop in ViewData.ModelMetadata.Properties)
        {
            string value = Html.DisplayText(prop.PropertyName);

            if (prop.ModelType == typeof(Image))
            {
                Image img = (Image)Model.GetType().GetProperty(prop.PropertyName).GetValue(Model);
                if (img != null && (img.IsInitialized))
                {
                    <dt>
                        @Html.DisplayName(prop.GetDisplayName())
                    </dt>

                    <dd>
                        <p>
                            os_type:         @img.os_type <br>
                            source_image_id: @img.source_image_id <br>
                            publisher:       @img.publisher <br>
                            offer:           @img.offer <br>
                            sku:             @img.sku <br>
                            version:         @img.version
                        </p>
                    </dd>
                }
            }
            else if (value.Length != 0)
            {
                <dt>
                    @Html.DisplayName(prop.GetDisplayName())
                </dt>

                <dd>
                    @if (prop.IsEnumerableType)
                    {
                        var tmp = (string[])Model.GetType().GetProperty(prop.PropertyName).GetValue(Model);
                        foreach (var t in tmp)
                        {
                             @t <br>
                        }
                    }
                    else
                    {
                        @value
                    }
                </dd>
            }
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fluent-checkbox onchange="toggleDisableViaCheckbox(this, 'delete-system-button')">I confirm that I wish to delete this data</fluent-checkbox><br />

        <fluent-button id="delete-system-button" appearance="accent" value="Delete" type="submit" disabled>
            <i class="ms-Icon ms-Icon--Delete" aria-hidden="true"></i> Delete
        </fluent-button>
        
        <fluent-anchor href="@Url.Action("Index", "System")">
            Back to list
        </fluent-anchor>

    }
</div>