@model IEnumerable<AutomationForm.Models.SystemModel>

@{
    ViewBag.Title = "Systems";
}
<script>
    window.onload = function() {
        $('.notificationContainer').delay(6000).fadeOut();
    }
</script>

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Systems</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div class="text-center">
    <h2>Existing systems</h2>
    <p>
        <a href="https://review.docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/automation-configure-system?branch=main" target="_blank" rel="noopener noreferrer">
            More information on configuring the system
        </a>
    </p>
</div>

<div class="notificationContainer" role="status" style="@(TempData["success"]==null ? "display: none;" : "display: flex; background: rgb(223, 246, 221);")">
    <div class="notificationInner">
        <span class="notificationText">
            @TempData["success"]
        </span>
    </div>
</div>
<div class="notificationContainer" role="status" style="@(TempData["error"]==null ? "display: none;" : "display: flex; background: rgb(253, 231, 233);")">
    <div class="notificationInner">
        <span class="notificationText">
            @TempData["error"]
        </span>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th class="wideonly">
            @Html.DisplayNameFor(model => model.workload_zone)
        </th>
        <th class="wideonly">
            @Html.DisplayNameFor(model => model.environment)
        </th>
        <th class="wideonly">
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th class="wideonly">
            @Html.DisplayNameFor(model => model.network_logical_name)
        </th>
        <th></th>
    </tr>

    @foreach (var system in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => system.Id)
            </td>
            <td class="wideonly">
                @Html.DisplayFor(modelItem => system.workload_zone)
            </td>
            <td class="wideonly">
                @Html.DisplayFor(modelItem => system.environment)
            </td>
            <td class="wideonly">
                @Html.DisplayFor(modelItem => system.location)
            </td>
            <td class="wideonly">
                @Html.DisplayFor(modelItem => system.network_logical_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=system.Id }) |
                @Html.ActionLink("Details", "Details", new { id=system.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=system.Id }) |
                @Html.ActionLink("Download", "Download", new { id=system.Id })
                @if (!String.IsNullOrEmpty(ViewBag.IsPipelineDeployment))
                {
                    @: | @Html.ActionLink("Deploy", "Deploy", new { id=system.Id })
                }
            </td>
        </tr>
    }

</table>

<p>
    <fluent-anchor appearance="accent" href="@Url.Action("Create", "System")">
        <i class="ms-Icon ms-Icon--Add" aria-hidden="true"></i> Create new
    </fluent-anchor>
</p>