@model AutomationForm.Models.FormViewModel<LandscapeModel>

@{
    ViewBag.Title = "Deploy workload zone";
    ViewData["workload_environment_parameter"] = Model.SapObject.environment;
    ViewData["deployer_environment_parameter"] = Model.SapObject.environment;
    IEnumerable<SelectListItem> environments = ViewBag.Environments;
    IEnumerable<SelectListItem> locations = new List<SelectListItem>();
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    window.onload = function () {
        $(".js-example-placeholder-single").select2({
            placeholder: "Search...",
            allowClear: true,
            tags: true
        });

        toggleNullParameters();

        populateLocations("deployer_region_parameter", "@Model.SapObject.Id.Split('-')[1]");
    }

</script>

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Landscape")">Workload zones</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Deploy</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div class="text-center">
    <h2>Deploy a workload zone</h2>
</div>

<h4>Are you sure you want to deploy @Model.SapObject.Id?</h4>
<div>
    @await Html.PartialAsync("_DetailsPartial", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="ms-TextField">                    
            <div class="left-input">
                @Html.Label("environment", "Control plane environment", new { @class = $"ms-Label" })
                <p>Deployer environment name</p>
            </div>
            <div class="right-input">
                @Html.TextBox("deployer_environment_parameter", Model.SapObject.controlPlaneEnvironment , new { @class = "ms-TextField-field" })
            </div>
        </div>

        <div class="ms-TextField">                    
            <div class="left-input">
                @Html.Label("deployer_region_parameter", "Control plane location code", new { @class = $"ms-Label" })
                <p>Deployer Control plane location code</p>
            </div>

            <div class="right-input">
                @Html.TextBox("deployer_region_parameter", Model.SapObject.controlPlaneLocation , new { @class = "ms-TextField-field" })
            </div>
        </div>

        <div class="ms-TextField">                    
            <div class="left-input">
                @Html.Label("workload_environment_parameter", "Workload Zone Environment", new { @class = $"ms-Label" })
                <p>Workload environment to deploy to</p>
            </div>

            <div class="right-input">
                @Html.TextBox("workload_environment_parameter", Model.SapObject.environment, new { @class = "ms-TextField-field" })
            </div>
        </div>

        <fluent-checkbox id="confirm-deploy-landscape-checkbox" onchange="toggleDisableViaCheckbox(this, 'deploy-landscape-button')" >I confirm that I wish to deploy this workload zone</fluent-checkbox><br />

        <fluent-button id="deploy-landscape-button" appearance="accent" value="Deploy" type="submit" disabled>
            <i class="ms-Icon ms-Icon--Send" aria-hidden="true"></i> Deploy
        </fluent-button>

        <fluent-anchor href="@Url.Action("Index", "Landscape")">
            Cancel
        </fluent-anchor>

    }
</div>
