@model AutomationForm.Models.LandscapeViewModel;
@using System.Text.Json

@{
    ViewBag.Title = "Create landscape";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var landscape = @Html.Raw(JsonSerializer.Serialize(Model.Landscape));
        createModel(landscape);
        retainFormValues();
    });

    window.onload = function () {
        $(".js-example-placeholder-single").select2({
            placeholder: "Search...",
            allowClear: true,
            tags: true
        });
        var PivotElements = document.querySelectorAll(".ms-Pivot");
        for (var i = 0; i < PivotElements.length; i++) {
          new fabric['Pivot'](PivotElements[i]);
        }
        $("#Basic-pivot").addClass("is-selected");
    }

    var submitting = false;
    window.onbeforeunload = function(){
        if (!submitting) {
            return "";
        }
    };

</script>

<div id="loading-background">
    <fluent-progress-ring class="width-full"></fluent-progress-ring>
</div>

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Landscape")">Landscapes</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Create</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div>
    
    <div class="text-center">
        <h2 style="text-align: center">New workload zone</h2>
        <p>
            <a href="https://review.docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/automation-configure-workload-zone?branch=main" target="_blank" rel="noopener noreferrer">
                More information on configuring the workload zone
            </a>
        </p>
    </div>
    
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="notificationContainer" style="display: flex; background: rgb(253, 231, 233);">
            <div class="notificationInner">
                <span class="notificationText">
                    @Html.ValidationSummary(false)
                </span>
            </div>
        </div>
    }


    <form class="wrapper" asp-controller="landscape" asp-action="create">
        @Html.AntiForgeryToken()

        <div class="ms-Pivot ms-Pivot--large">

            <ul class="ms-Pivot-links" style="text-align: center">
                @foreach (ParameterGroupingModel pg in Model.ParameterGroupings)
                {
                    <li class="ms-Pivot-link" id="@pg.Tab-pivot" data-content="@pg.Tab" title="@pg.Tab" tabindex="0">
                        @pg.Tab
                    </li>
                }
            </ul>

            <input id="searchbar" placeholder="Filter..." class="ms-TextField-field" onkeyup="filterResults(this.value)" />

            @foreach (ParameterGroupingModel pg in Model.ParameterGroupings)
            {
                <div class="ms-Pivot-content" data-content="@pg.Tab">
                    <fieldset id="@pg.Tab">

                        @foreach (Grouping g in pg.Groupings)
                        {
                            <div class="grouping">
                                <h2><a href="@g.Link" target="_blank" rel="noopener noreferrer">@g.Section</a></h2>
                                <div class="parameters">

                                    @foreach (ParameterModel p in g.Parameters)
                                    {
                                        var required = (@p.Required) ? "required" : "";

                                        <div class="ms-TextField">
                                            
                                            <div class="left-input">
                                                @Html.Label(p.Name, p.Name, new { @class = $"ms-Label {required}" })
                                                <p>@Html.Raw(p.Description)</p>
                                            </div>

                                            <div class="right-input">
                                                @if (@p.Type == "field")
                                                {
                                                    @Html.TextBox(p.Name, "", new { @class = "ms-TextField-field", @onchange = $"overrulesHandler({p.Name}, {p.Overrules})" })
                                                }
                                                else if (@p.Type == "lookup")
                                                {
                                                    @Html.DropDownList(p.Name, p.Options, new { @class = "js-example-placeholder-single", @style = "width: 100%;", @onchange = $"overrulesHandler({p.Name}, {p.Overrules})" })
                                                }
                                                else
                                                {
                                                    <p>Invalid parameter</p>
                                                }

                                                @Html.ValidationMessage(p.Name)
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </fieldset>
                </div>
            }
        </div>

        <fluent-button appearance="accent" style="margin-top: 15px" type="submit" onclick="submitting=true">
            Submit
        </fluent-button>

        <fluent-anchor href="@Url.Action("Index", "Landscape")">
            Cancel
        </fluent-anchor>
    </form>
</div>