@model AutomationForm.Models.LandscapeModel

@{
    ViewBag.Title = "Deploy landscape";
}

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Landscape")">Landscapes</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Deploy</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div class="text-center">
    <h2>Deploy a workload zone</h2>
</div>

<h4>Are you sure you want to deploy this?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var prop in ViewData.ModelMetadata.Properties)
        {
            string value = Html.DisplayText(prop.PropertyName);

            if (value.Length != 0)
            {
                <dt>
                    @Html.DisplayName(prop.GetDisplayName())
                </dt>

                <dd>
                    @value
                </dd>
            }
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fluent-checkbox onchange="toggleDisable(this, 'deploy-landscape-button')">I confirm that I wish to deploy this landscape</fluent-checkbox><br />

        <fluent-button id="deploy-landscape-button" appearance="accent" value="Deploy" type="submit" disabled>
            <i class="ms-Icon ms-Icon--Send" aria-hidden="true"></i> Deploy
        </fluent-button>

        <fluent-anchor href="@Url.Action("Index", "Landscape")">
            Cancel
        </fluent-anchor>

    }
</div>