@model AutomationForm.Models.LandscapeModel

@{
    ViewBag.Title = "Landscape details";
}

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Landscape")">Landscapes</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Details</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div class="text-center">
    <h2>Workload zone details</h2>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var prop in ViewData.ModelMetadata.Properties)
        {
            string value = Html.DisplayText(prop.PropertyName);

            if (value.Length != 0)
            {
                <dt>
                    @Html.DisplayName(prop.GetDisplayName())
                </dt>

                <dd>
                    @value
                </dd>
            }
        }
    </dl>
</div>
<p>
    <fluent-anchor appearance="accent" href="@Url.Action("Edit", "Landscape", new { id = Model.Id })">
        <i class="ms-Icon ms-Icon--Edit" aria-hidden="true"></i> Edit
    </fluent-anchor>
    <fluent-anchor href="@Url.Action("Index", "Landscape")">
        Back to list
    </fluent-anchor>
</p>