@model IEnumerable<AutomationForm.Models.LandscapeModel>

@{
    ViewBag.Title = "Landscapes";
}
<script>
    window.onload = function() {
        $('.notificationContainer').delay(6000).fadeOut();
    }
</script>

<fluent-breadcrumb>
    <fluent-breadcrumb-item href="@Url.Action("Index", "Home")">Home</fluent-breadcrumb-item>
    <fluent-breadcrumb-item href="#">Landscapes</fluent-breadcrumb-item>
</fluent-breadcrumb>

<div class="text-center">
    <h2>Existing workload zones</h2>
    <p>
        <a href="https://review.docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/automation-configure-workload-zone?branch=main" target="_blank" rel="noopener noreferrer">
            More information on configuring the workload zone
        </a>
    </p>
</div>

<div class="notificationContainer" role="status" style="@(TempData["success"]==null ? "display: none;" : "display: flex; background: rgb(223, 246, 221);")">
    <div class="notificationInner">
        <span class="notificationText">
            @TempData["success"]
        </span>
    </div>
</div>
<div class="notificationContainer" role="status" style="@(TempData["error"]==null ? "display: none;" : "display: flex; background: rgb(253, 231, 233);")">
    <div class="notificationInner">
        <span class="notificationText">
            @TempData["error"]
        </span>
    </div>
</div>

<div class="table-scroll">
    <table class="table" aria-label="Existing workload zones">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="wideonly">
                    @Html.DisplayNameFor(model => model.environment)
                </th>
                <th class="wideonly">
                    @Html.DisplayNameFor(model => model.location)
                </th>
                <th class="wideonly">
                    @Html.DisplayNameFor(model => model.network_logical_name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var landscape in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => landscape.Id)
                </td>
                <td class="wideonly">
                    @Html.DisplayFor(modelItem => landscape.environment)
                </td>
                <td class="wideonly">
                    @Html.DisplayFor(modelItem => landscape.location)
                </td>
                <td class="wideonly">
                    @Html.DisplayFor(modelItem => landscape.network_logical_name)
                </td>
                <td class="td-align-right">
                    @Html.ActionLink("Edit", "Edit", new { id=landscape.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=landscape.Id }) |
                    @Html.ActionLink("Download", "Download", new { id=landscape.Id })
                    @if (!String.IsNullOrEmpty(ViewBag.IsPipelineDeployment))
                    {
                        @: | @Html.ActionLink("Deploy", "Deploy", new { id=landscape.Id })
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<p>
    <fluent-anchor appearance="accent" href="@Url.Action("Create", "Landscape")">
        <i class="ms-Icon ms-Icon--Add" aria-hidden="true"></i> Create new
    </fluent-anchor>
</p>